body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #333;
}

header {
	background-color: #333;
	color: #fff;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 1rem;
}

.header-title {
	text-align: center;
	margin-right: 2rem;
}

.header-title h1 {
	margin: 0;
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.2;
}

.header-title p {
	font-size: 1.2rem;
	margin: 1.5rem 0;
}

.header-image {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1rem;
}

.header-image img {
	max-width: 100%;
	width: 75%;
	height: auto;
}


.about {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #f7f7f7;
	padding: 4rem 0;
}

.about-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
	text-align: left;
}


/* Contact Section Styles */
#contact {
    margin-top: 1in;
  }
  
  .contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    width: 100px;
    margin-right: 1rem;
    text-align: right;
  }

  
  .form-group input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    max-width: 50%;
  }
  
  .form-group input[type="text"]:focus {
    outline: none;
    border-color: #1abc9c;
  }
  
  .form-group input[type="text"]::placeholder {
    color: #aaa;
  }
  

  button.btn {
    margin-top: 1.5rem;
    margin-left: 100px; /* 변경된 부분 */
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button.btn:hover {
    background-color: #148f77;
    cursor: pointer;
  }
  
  textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    min-height: 300px;
    max-width: 100%;
    width: 100%;
    margin-top: 1in;
  }



.about {
	margin-top: 1in;
	margin-right: auto;
	margin-left: 1in;
}

footer {
	background-color: black;
	color: white;
	padding: 1rem;
}

.btn {
	display: inline-block;
	margin-top: 1.5rem;
	padding: 1rem 2rem;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #444;
}
